doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css')
        style.
            input {
                border: 1px solid #000;
                display: block;
            }
    body
    block content